<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,199}</string>
                <key>spriteSourceSize</key>
                <string>{151,199}</string>
                <key>textureRect</key>
                <string>{{0,0},{151,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{151,0},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{311,0},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{0,208},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{160,208},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{320,208},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{480,208},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{640,208},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{800,208},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{960,208},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1120,208},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1280,208},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1440,208},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{471,0},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1600,208},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{0,416},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{160,416},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{320,416},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{480,416},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{640,416},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{800,416},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{960,416},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1120,416},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1280,416},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{631,0},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1440,416},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1600,416},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{0,624},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{160,624},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{320,624},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{480,624},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{640,624},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{800,624},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{960,624},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1120,624},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{791,0},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1280,624},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1440,624},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1600,624},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{0,832},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{160,832},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{320,832},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{480,832},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{640,832},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{800,832},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{960,832},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{951,0},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1120,832},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1280,832},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1440,832},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1600,832},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1111,0},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1271,0},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1431,0},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{160,208}</string>
                <key>textureRect</key>
                <string>{{1591,0},{160,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1760,1040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d32a689438c5480913a17e1ea45f2bb:3da565b30be007d434033a07abfc5837:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
